@import 'styles/_vars.scss';

.ProfileSettingsContent__container {
  width: 100%;
  margin-bottom: 48px;

  @include media-down(md) {
    margin-bottom: 40px;
  }
}

.ProfileSettingsContent__title {
  margin-bottom: 24px;
}

.ProfileSettingsContent__card {
  & + .ProfileSettingsContent__card {
    margin-top: 20px;
  }
}
