@import 'styles/_tokens.scss';
@import 'styles/_vars.scss';

.ProgressBoardWidget__container {
  overflow: hidden;
  width: 100%;
  border-radius: 16px;
  background: white;
}

.ProgressBoardWidget__content {
  padding: 24px;
}

.content__chart_container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;

  @include media-down(lg) {
    flex-wrap: wrap;

    //:nth-child(3),
    //:nth-child(4) {
    //  margin-top: 24px;
    //}
  }

  @include media-down(sm) {
    flex-direction: column;

    > div:not(:first-child) {
      margin-top: 24px;
    }
  }
}

.chart_container__ProgressArrowLabelCard {
  display: flex;
  width: 25%;

  @include media-down(lg) {
    flex-direction: column;
    width: 50%;

    &:nth-child(1),
    &:nth-child(2) {
      margin-bottom: 32px;
    }
  }

  @include media-down(sm) {
    width: 100%;
    margin-bottom: 24px !important;
  }
}

.ProgressArrowLabelCard__progressWrapper {
  display: flex;

  @include media-down(lg) {
    justify-content: center;
    margin-bottom: 12px;
  }
}

.ProgressArrowLabelCard__title {
  display: flex;

  @include media-down(lg) {
    justify-content: center;
    margin-bottom: 4px;
  }
}

.ProgressArrowLabelCard__value {
  @include media-down(lg) {
    text-align: center;
  }
}
