.SignUpPassword__titleWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 92px;
}

.SignUpPassword__backIcon {
  margin-right: 12px;
}

.SignUpPassword__fieldContainer {
  margin-bottom: 32px;
}

.SignUpPassword__submitBtn {
  min-width: 152px;
  margin-top: 62px;
}

.SignUpPassword__error {
  margin-top: 24px;
}
