.AboutSection__container {
  width: 100%;
  max-width: 390px;
}

.AboutSection__togglerWrapper {
  display: flex;
  align-items: center;

  margin-top: 16px;
}

.AboutSection__togglerText {
  margin-left: 10px;
}

.AboutSection__link {
  margin-left: 4px;
}
