@import 'styles/_vars.scss';

.AddDocumentModal__filesWrapper {
  @include scrollbar;
  display: flex;
  overflow-x: auto;
  padding-bottom: 12px;
}

.AddDocumentModal__file {
  min-width: 180px;
  margin-right: 16px;
}
