.DeadlineField__container {
  margin-bottom: 40px;
}

.DeadlineField__title {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.DeadlineField__toggler {
  margin-left: 12px;
}

.DeadlineField__inputContainer {
  width: 100%;
  max-width: 248px;
  margin-top: 8px;
  margin-bottom: 0;
}
