@import 'styles/_tokens.scss';
@import 'styles/_vars.scss';

.FolderCard__container {
}

.FolderCard__card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px 8px 8px;
  cursor: pointer;
  transition: box-shadow $transition-primary;
  border: 1px solid $border-gray-secondary;
  border-radius: $border-radius-12;
  background: $surface-tretiary;

  &:hover {
    box-shadow: $box-shadow-m;
  }

  &.downloaded {
    border-color: #5b8dee;
  }

  &.reccomended {
    background-color: $surface-secondary;
  }

  &.disabled {
    cursor: auto;
    color: $text-tretiary;
    background-color: #f9fafb;
  }
}

.FolderCard__main {
  display: flex;
}

.FolderCard__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  min-width: 40px;
  height: 40px;
  margin-right: 12px;
  color: #fff;
  border-radius: $border-radius-12;
  background: $accent-blue-light;

  &.disabled {
    color: $text-tretiary;
    background-color: #e8ebef;
  }
}

.FolderCard__content {
  margin-right: 12px;
}

.FolderCard__title {
  @include mltext;
  margin-bottom: 4px;
}

.FolderCard__description {
  font-weight: $font-weight-500;
}

.FolderCard__icons_right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.FolderCard__disabler {
  color: $text-primary;

  &.disabled {
    color: $text-tretiary;
  }

  svg {
    width: 16px;
    height: 16px;
  }
}

.FolderCard__btn_remove {
  margin-left: 12px;
}

.FolderCard__toggleable {
  overflow: hidden;
  transition: max-height $transition-primary;
}

.FolderCard__files_wrapper {
  margin-top: 12px;
  padding: 12px 16px 20px 12px;
  border-radius: $border-radius-12;
  background-color: #fff;
}

.FolderCard__filesControls {
  display: flex;
  justify-content: space-between;

  margin-bottom: 18px;
}

.FolderCard__filesNotification {
  @include mltext;
  margin-right: 12px;
}

.FolderCard__files_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 12px;
}

.FolderCard__file {
  padding: 12px 0;

  &:not(:last-child) {
    border-bottom: 1px solid $border-gray-secondary;
  }

  p {
    margin-bottom: 0;
  }

  //& + .FolderCard__file {
  //  margin-top: 12px;
  //  padding-top: 12px;
  //  border-top: 1px solid $border-gray-secondary;
  //}
}

.FolderCard__filesContainerClose {
  width: 20px;
  height: 20px;
  margin-top: -4px;
  cursor: pointer;
}
