@import 'styles/_tokens.scss';

.PasswordResetPage__container {
  margin: auto 0;
}

.PasswordResetPage__title {
  margin-bottom: 24px;
}

.PasswordResetPage__btn {
  min-width: 162px;
  margin-top: 57px;
}

.PasswordResetPage__text {
  font-size: $font-size-14;
  font-weight: $font-weight-600;
  line-height: $line-height-24;
}

.PasswordResetPage__error {
  margin-top: 24px;
}
