.MainTabDangerZone__content {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  padding: 32px;
  border-radius: 12px;
  background-color: #fff;
}

.MainTabDangerZone__contentTitle {
  width: 100%;
  max-width: 432px;
  margin-right: 12px;
}
