@import 'styles/_tokens.scss';
@import 'styles/_vars.scss';

.HorizontalScrollingMenu__item_container {
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */

  /* text selection disabling */
  -webkit-touch-callout: none; /* iOS Safari */
}

.HorizontalScrollingMenu__item {
  min-width: max-content;
  transition: color $transition-primary, border-color $transition-primary;

  &:hover {
    color: $text-primary;
  }
}
