.DeadlineSection__container {
  margin-bottom: 40px;
}

.DeadlineSection__title {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.DeadlineSection__toggler {
  margin-left: 12px;
}

.DeadlineSection__inputContainer {
  margin-bottom: 0;
}
