@import 'styles/_vars.scss';
@import 'styles/_tokens.scss';

.SingleProjectHouseData__container {
  padding-top: 52px;
}

.SingleProjectHouseData__title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.SingleProjectHouseData__iconCircle {
  margin-top: -4px;
}

.SingleProjectHouseData__banner {
  overflow: hidden;
  margin-bottom: 20px;
}

.SingleProjectHouseData__bannerText {
  width: 100%;
  max-width: 286px;
  margin-right: 78px;
}

.SingleProjectHouseData__ellips {
  position: absolute;
  z-index: 1;
}

.SingleProjectHouseData__ellipsUp {
  @extend .SingleProjectHouseData__ellips;
  right: -28px;
  bottom: 24px;

  transform: rotate(152deg);
}

.SingleProjectHouseData__ellipsDown {
  @extend .SingleProjectHouseData__ellips;
  right: 48px;

  bottom: 0;
}

.SingleProjectHouseData__alert_houseData {
  margin-bottom: 8px;
}

.SingleProjectHouseData__dropzoneContainer {
  position: relative;
  margin-top: 24px;
}

.SingleProjectHouseData__dropzone {
  height: 112px;

  @include media-up(lg) {
    height: auto;
  }
}

.SingleProjectHouseData__dropzoneLinks {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 300px;
  text-align: center;

  svg {
    width: 18px;
    height: 18px;
    margin-top: -2px;
    margin-right: 4px;
  }

  @include media-up(sm) {
    flex-wrap: nowrap;
  }
}

.SingleProjectHouseData__link {
  justify-content: center;
  width: 100%;

  &:first-of-type {
    margin-bottom: 12px;
  }

  @include media-up(sm) {
    justify-content: flex-start;
    width: auto;

    &:first-of-type {
      margin-right: 16px;
      margin-bottom: 0;
    }
  }
}

.SingleProjectHouseData__folder {
  margin-bottom: 12px;
}

.SingleProjectHouseData__about {
  margin-bottom: 36px;
}
