@import 'styles/_vars.scss';

.PasswordRecoveryPage__titleWrapper {
  display: flex;
  align-items: center;

  margin-bottom: 24px;
}

.PasswordRecoveryPage__backIcon {
  margin-right: 12px;
}

.PasswordRecoveryPage__text {
  margin-bottom: 24px;
  font-size: $font-size-14;
  font-weight: $font-weight-600;
  line-height: $line-height-24;
}

.PasswordRecoveryPage__sendBtn {
  min-width: 98px;
  margin-top: 40px;
}

.PasswordRecoveryPage__notificationBtn {
  min-width: 132px;
  margin-top: 48px;
}
